@font-face {
	font-family: "ProximaNova";
	src: url('./ProximaNova-Light.otf') format("opentype");
}

@font-face {
	font-family: "ProximaNova";
	src: url('./ProximaNova-Bold.otf') format("opentype");
	font-weight: bold;
}

body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	padding-top: 10px;
	background-color: #ecf0f1;
}

.center{
	text-align: center;
}

.desc {
	/*color: #ecf0f1;*/
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 30px;
}

.desc p {
	font-size: 23px;
}

.desc p.cta {
	padding-top: 15px;
	font-size: 18px !important;
	font-weight: bold;
}

textarea#post {
	width: 500px;
	height: 200px;
	font-size: 17px;
	background-color: #EFF4F5;
}

#post, #submit {
	margin-bottom: 20px;
}

label {
	color: #2c3e50;
	font-size: 21px;
}

input[type="checkbox"] {
	margin-top: 9px !important;
	margin-bottom: 9px !important;
	width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right: 10px;
}

hr {
	border-top: 1px solid #2c3e50;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.fcc {
	line-height: 35px;
}

.loader img {
	height: 64px;
	width: 64px;
}

.loader {
	padding-top: 10px;
}