html
	head
		title {% block title %}{% endblock %}
		link(rel="stylesheet", type="text/css", href="/static/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/static/css/custom.css")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="/static/js/bootstrap.min.js")
	body
		.container
			{% block content %}
			{% endblock %}