{% extends "base.jade" %}
{% block title %}Restore Cyberspace{% endblock %}
{% block content %}
.center.loader
	a(href="http://www.savetheinternet.com/")
		img(src="static/ajax-loader.gif")
.jumbotron.desc.center
	p
		| Net Neutrality should not block or discriminate against any applications or content that ride over those networks. Just as your phone company cannot decide who you could call and what you say on that call, your ISP should not be concerned with what content you view or post online.
	p.cta
		| Post your own blocked status to view your friend's!
hr
form.center(method="POST")
	label(for="post") Enter Status
	br
	textarea#post(name="post")
		| Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
	br
	.fcc
		label(for="submit")
			input#submit(type="checkbox", checked)
			| Submit to FCC for comment
	br
	button.btn.btn-primary.btn-lg Post!
{% endblock %}