{% extends "base.jade" %}
{% block title %}Restore Cyberspace{% endblock %}
{% block head %}
meta(property="og:title", content="Restore Cyberspace")
meta(property="og:description", content="███████████████████████")
meta(property="og:image", content="http://www.restorecyberspace.com/static/black.jpg")
{% endblock %}
{% block content %}
.center.loader
	a(href="http://www.savetheinternet.com/")
		img(src="/static/ajax-loader.gif")
.jumbotron.desc.center
	p
		| Net Neutrality is the force that has allowed the Internet to revolutionize our lives. Without it big corporations would be able to pay for faster connections, while new startups would be slowed down. In other words, your favorite websites like Netflix or Facebook would never have made it.
	p.cta
		| Post your own blocked status to view your friend's!
hr
form#post-message-form.center(method="POST")
	label(for="post") Enter Status
	br
	textarea#post(name="post")
		| Net Neutrality is crucial to allow the Internet to thrive as it currently does. Allowing corporations to pay for faster speeds, while throttling many new corporations is unacceptable. The reason that the internet has been so successful is because all links are created equal. If I wanted to make a new website that offers superior services than currently established companies, it would be almost impossible for me to be successful without Net Neutrality.
	.fcc
		br
		label(for="submit")
			input#submit(type="checkbox", checked)
			| Submit to FCC for comment
	br
	input#url-input(type="hidden", name="url", value="test")
	button.btn.btn-primary.btn-lg Post and View Message
{% endblock %}
{% block script %}
script(type='text/javascript')
	$("#post-message-form").submit(function(e) {
		$.ajax({
			type: "POST",
			url: "/post_status",
			data: {"message": $("#post").val()},
			dataType: "json",
			success: function(d) {
				$("#url-input").val(d.url);
				window.fbAsyncInit = function() {
					FB.init({
						appId : '284362071753998',
						xfbml : true,
						version : 'v2.1'
					});
					FB.ui({
					method: 'share',
					href: 'http://www.' + d.url,
					}, function(response){
						console.log(response)
					});
				};

				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
				setTimeout(function() {window.location.replace("http://www.restorecyberspace.com/user_just_posted?message=" + window.location.href.split("message/")[1])}, 2500);
			},
			error: function(d) {
				console.log(d);
				//- location.reload();
			}
			})
		e.preventDefault();
		return false;
	})
{% endblock %}